/* reset css */
*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
body,a,p,h1,h2,h3,h4,h5,h6,span{
    font-family: 'Open Sans', sans-serif;
}
/* header desgine css */
.header-bg{
   background-color: rgb(250, 217, 223);
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
}
.banner img{
    width: 600px;
    
}
.banner-content h4{
    font-size: 50px;
    font-weight: 600;
    line-height: normal;
    color: #272727;
}
.banner-content p{
color: rgba(39, 39, 39, 0.60);
font-size: 15px;
font-weight: 400;
line-height: 30px;
margin-top: 10px;
margin-bottom: 8px;
}
.btn{
    background: #E55473;
    padding: 10px 20px ;
  margin-top:15px;
  display: inline-block;
  font-size: 15px;
  border-radius: 50px;
}
/* deal */
.deal{
    background-color: light rgb(209, 17, 52);
}
/* delevery info */
.delevery{
    background-color: rgb(255, 246, 233);
    width: 1320px;
  
}
.delevery-info{
    text-align: center;
   
}
.delevery-info h3{
    font-size: 30px;
    font-weight: 600;
    padding: 10px 10px 10px;

}
.delevery-info p{
    font-size: 15px;
    color: gray;
    padding: 10px 10px 10px;
}
/* featured desgine */
.featured-pic{
    display: flex;
    justify-content: center;

}
.f-pic{
    width: 180px;
    margin-left: 10px;
}
.featured-info{
    text-align: center;
}
.featured-info h4{
    color: #272727;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    margin-top: 20px;
}
.featured-info p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    font-weight: 200;
    line-height: 50px;
}
/* submit */
.submit{
    background: url(./images/Rectangle\ 9.png) no-repeat center center;
    padding: 150px 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
   
}
.fom{
    margin-top: 60px;
}
.ff{
    padding: 20px;
    color: black;
}
.fom-btn{
    background-color: #E55473;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}
/* Foot title */
.foot{
    background-color: #111010;
    text-align: center;
padding: 130px;
}
.clr-text{
    color:#E55473;
}
.foot-title h5{
color: white;
font-size: 30px;
}
.foot-title p{
    color: antiquewhite;
    font-weight: 200;
    margin-top: 20px;
}
.copy{
    color: bisque;
    font-size: 10px;
}